{{>partials/header}}


{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')"></section>
<h2>Conheça nossos produtos</h2>
{{/banner}}




<div class="container list">
    <div class="item">
        <img src="images/festacompletabatizado.jpeg" class="item--image" />
        <div class="item--name">Festa Completa Batizado</div>
        <div class="item--genre">Gênero: Infantil</div>
    </div>
   
</div>

{{>partials/footer}}